body{
  margin: 0px;
  padding: 0px;
  background: #000;
}
canvas{
  display: block;
  margin: 20px auto;
  border: 3px #888 solid;
  border-radius: 20px;
}
input{
  display: block;
  margin: 50px auto;
  width: 600px;
}
